@import "common";

body {
    background-color: #000;
}

#row-progress {
    color: #fff;
}

.canvasGL {
    display: block;
    width: 100vw;
    // max-width: 240vh;
    height: 100vh;
    border: none;
    padding: 0;
    margin: 0 auto;
}

.transparent {
    opacity: 0 !important;
}

.promo {
    opacity: 1;
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    transition: opacity 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);

    img {
        width: 220px;
    }

    .text {
        color: #fff;
        text-shadow: #030303 0px 0px 5px;
    }
}

.controls {
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    padding-top: 60px;
    opacity: 1.0;

    transition: opacity 800ms cubic-bezier(0.645, 0.045, 0.355, 1);

    @media(min-width: $screen-sm-min) {
        padding-top: 20px;
        padding-left: 50px;
    }

    .fs & {
        padding: 0;
        padding-top: 60px;

        @media(min-width: $screen-sm-min) {
            padding-top: 0;
            padding-left: 30px;
        }
    }

    label {
        color: #fff;
        text-shadow: rgb(3, 3, 3) 0px 0px 8px;
    }
}

.control-icon {
    opacity: 0.85;
    position: absolute;

    transition: opacity 800ms cubic-bezier(0.645, 0.045, 0.355, 1);

    .material-icons {
        color: #fff;
        text-shadow: rgb(3, 3, 3) 0px 0px 8px;
    }

    &.control-fs {
        right: 30px;
        top: 30px;

        @media (display-mode: fullscreen) {
            display: none !important;
        }

        .icon-enter-fs {
            display: inline-block;
        }

        .icon-exit-fs {
            display: none;
        }

        .fs & {
            .icon-enter-fs {
                display: none;
            }

            .icon-exit-fs {
                display: inline-block;
            }
        }
    }

    &.control-settings {
        left: 40px;
        top: 40px;

        .icon-show-settings {
            display: inline-block;
        }

        .icon-hide-settings {
            display: none;
        }

        .fs & {
            left: 20px;
            top: 20px;
        }

        &.open {
            .icon-show-settings {
                display: none;
            }

            .icon-hide-settings {
                display: inline-block;
            }
        }
    }
}

.material-icons {
    &.md-18 {
        font-size: 18px;
    }
    &.md-24 {
        font-size: 24px;
    }
    &.md-36 {
        font-size: 36px;
    }
    &.md-48 {
        font-size: 48px;
    }
}
